<%provide(:title,'All users')%>
<h1>All users</h1>

<%= will_paginate%>
<ul class ="users">
	
	  <%= render @users %><!-- now looks for partial called _user.html.erb for each user in @users-->
	
</ul>
<%= will_paginate%>